body {
    font-family: Arial, sans-serif;
}
.flashes {
    list-style: none;
    padding: 0;
    width: fit-content; /* Largura desejada para as mensagens de flash */
    margin: 0 auto;
    text-align: center;
}
.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.flashes .success {
    background-color: #d4edda;
    color: #155724;
}
.flashes .danger {
    background-color: #f8d7da;
    color: #721c24;
}
.flashes .warning {
    background-color: #fff3cd;
    color: #856404;
}
.flashes .info {
    background-color: #d1ecf1;
    color: #0c5460;
}
h1 {
    color: #343a40;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li:nth-child(odd) {
    background-color: #f1f3f5;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #0056b3;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.password-label {
    margin-top: 15px;
}

input[type="password"] {
    border-color: #b6d4fe;
}